<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href="css/display.css" />

</head>
<body>
    <h2> List of comment by student </h2>
    <table class="center">
        <tr>
            <td>
                <div>
                    <label>courseCode</label>
                </div>

            </td>
            <td>

                <div>
                    <label>courseName</label>

                </div>

            </td>
            <td>
                <div>
                    <label>program</label>
                </div>
            </td>
            <td>
                <div>
                    <label>semester</label>
                </div>

            </td>
            
            <td>
                <div>
                    <label>comment </label>
                </div>

            </td>
        </tr>


        <% comments.forEach(function(comment){ %>

        <tr>
            <td>
                <div>

                    <input type="text" name="firstname" value="<%= comment.courseCode %>" />
                </div>

            </td>
            <td>
                <div>
                    <input type="text" name="lastname" value="<%= comment.courseName %>" />
                </div>

            </td>
            <td>
                <div>
                    <input type="text" name="email" value="<%= comment.program %>" />
                </div>
            </td>
            <td>
                <div>
                    <input type="text" name="username" value="<%= comment.semester %>" />
                </div>
            </td>

            <td>
                <div>
                    <input type="text" name="created" value="<%= comment.comment %>" />
                </div>
            </td>
            

        </tr>

        <% })%>

    </table>

    <a href="/"> Home Page</a>

</body>
</html>